@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700');



body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: #ef7540;
    font-weight: bold;
    font-size: 125px;
}

header .row {
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 70px;
    }
}


.lead {
    color: #c6db39;
    font-weight: bold;
    font-size: 25px;
}

@media only screen and (max-width: 768px) {
    .lead {
        font-size: 15px;
    }
}


/*-----------------------Special Paddings/ Margins/ Text-----------------------*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}



/*-----------------------Navbar-----------------------*/

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    border: 0;
    height: 50px;
    font-size: 15px;
}


.navbar-default .navbar-nav>li>a {
    color: white;
    text-align: center;
    font-weight: bold;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ef7540;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #ef7540;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ef7540;
}

.navbar-btn,
.navbar-btn:focus {
    border: 0;
    border-radius: 16px;
    width: 130px;
    margin-right: 10px;
    background-color: #ef7540;
    color: white;
}

.navbar-btn:hover {
    color: #ef7540;
    background-color: white;
    border-color: white;
    transition: 0.5s;
}

.navbar-default .navbar-collapse {
    border-color: transparent;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;

}

@media only screen and (max-width: 768px) {
    .navbar-default .navbar-collapse {
        background-color: #636363
    }
}



/*----------Nav Overlay----------*/

.nav-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .3)
}

.navbar-collapse li {
    height: 100%;

}

/*----------Nav sweep to bottom----------*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.3);
    height: 50px;
    transition: 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/*-----------------------Menu Item-----------------------*/

.menuitem {
    height: 50px;
    text-align: center;
    padding: 0;
}


/*Page Headers*/

.page-header {
    margin-top: 30px;
    margin-bottom: 60px;
    box-sizing: border-box;
    margin-bottom: 0;
    border-bottom: 0;
}

.page-header h2 {
    margin-top: 0;
    font-style: italic;
    color: #ef7540;
    font-size: 36px;
}


/*-----------------------Containers-----------------------*/

.callout-container {
    height: 70vh;
    background: url(../assets/images/background.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.content-container {
    padding-top: 5px;
    padding-bottom: 30px;

}

.container-wrapper--orange {
    background-color: #ef7540;
}

.container-wrapper--green {
    background-color: #c6db39;
}

.container-wrapper--white {
    background-color: white;
}

.callout h1{
    padding-top: 10px;
}




/*-----------------------Icons-----------------------*/

.icons {
    text-align: center;
    padding-bottom: 20px;
}

.icons i {
    display: block;
    font-size: 50px;
    padding-bottom: 15px;
}

.icons p {
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: bold;
}

.icons-margin {
    margin: 0;
}


/*Difference*/

.difference i {
    padding: 15px;
    font-size: 50px;
    color: #333;
}

.difference p {
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.difference-header h2 {
    color: white!important;
}


/*-----------------------Quotes-----------------------*/

blockquote.quotes {
    border-left: 0;
}

.quotes .page-header {
    margin-bottom: 10px;
}

.small-quote {
    font-weight: 300;
    font-size: smaller;
}

.media-quote img {
    height: 110px;
    width: 110px;
    margin-bottom: 10px;
}

.media-object {
    width: 350px;
}

.quotes-container {
    margin-top: 35px;
    margin-bottom: 35px;
}


/*-----------------------Menu Index-----------------------*/

.menu-index {
    text-align: center;
}

.btn-index {
    margin-top: 40px;
    margin-bottom: 15px;
    border: 0;
    border-radius: 16px;
    width: 210px;
    background-color: white;
    color: #ef7540;
    font-weight: bold;
}

.btn-index,
.btn-index:focus {
    border: 0;
    background-color: white;
    color: #ef7540;
    transition: 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s
}

.menu-btn:hover {
    color: #ef7540;
    background-color: white;
    border-color: white;
    transition: 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s
}

.menuBottom-btn,
.menuBottom-btn:focus {
    border: 0;
    font-size: 25px;
    border-radius: 16px;
    width: 245px;
    margin-right: 10px;
    background-color: #ef7540;
    color: white;
    margin-bottom: 20px;
}

.menuBottom-btn:hover {
    color: black;
    background-color: #ef7540;
    border-color: white;
    transition: 0.5s;
}


/*-----------------------Block Dividers-----------------------*/

.block-divider {
    width: 75px;
    height: 3px;
    border: 0;
}


/*-----------------------alert-----------------------*/

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.site-wide-alert {
    color: #506103;
    background-color: #c0dd00;
    border-color: #b8e000;
    padding: 5px 15px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 0;
}


/*-----------------------About Us-----------------------*/

.about {
    margin: 0;
}

.about h3 {
    letter-spacing: 0.5px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    border-top: 8px solid transparent;
    padding: 20px 0 5px;
    width: 50%;
}

.statement h3 {
    font-weight: bold;
}


.about p {
    font-size: 16px;
    padding-bottom: 15px;
}

#about-p {
    padding-top: 40px;
}

#taste-p {
    padding-top: 40px;
}

.about-img {
    float: right;
    border-radius: 17px;
    margin-left: 10px;
}

.about-video {
    padding-bottom: 20px;
}

.about-mvv {
    padding-top: 40px;
}


.color-mission h3 {
    color: #ef4640;
    border-color: #ef4640;
}

.color-vision h3 {
    color: #ef7540;
    border-color: #ef7540;
}

.color-values h3 {
    color: #efa440;
    border-color: #efa440;
}


/*-----------------------Videos-----------------------*/

.about-video {
    width: 350px;
}


/*-----------------------Food Menu-----------------------*/

.food-area p {
    font-size: 16px;
}

.food-session-top h4 {
    padding-top: 20px;
    line-height: 1.5;
}

.food-container p {
    padding-top: 20px;
}

.style-change {
    color: #ef7540;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.single-food {
    box-sizing: border-box;
    display: block;
    width: 350px;
}

.food-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.food-img {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    vertical-align: middle;
    border-style: none;
    height: 260px;
}

.food-content {
    box-sizing: border-box;
    display: block;
    width: auto;
    height: 200px;
    padding: 30px;
    background: #f9f9ff;
}

.food-content h5 {
    text-transform: capitalize;
    font-size: 20px !important;
    font-weight: 700;
}

.food-content:hover {
    background: #ffdbcc;
    transition: 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.menu-btn,
.menu-btn:focus {
    border: 0;
    background-color: #ef7540;
    color: white;
    transition: 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s
}

.menu-btn:hover {
    color: #ef7540;
    background-color: white;
    border-color: white;
    transition: 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s
}

.menu-btn {
    border: 0;
    border-radius: 16px;
    width: 210px;
    background-color: #ef7540;
    color: white;
}


/*-----------------------Contact Us/ Form-----------------------*/

.contact-btn {
    border: 0;
    border-radius: 16px;
    width: 80px;
    background-color: #ef7540;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
}

.contact-btn:hover {
    background-color: #c6db39;
    color: white;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.order h2,
.p-payment {
    text-align: center!important;
}


.contact-item {
    display: block;
    padding-bottom: 30px;
}

.contact-container p {
    padding-top: 10px;
}

.contact-item i {
    padding-right: 15px;
    font-size: 25px;
    color: #ef7540
}

.formLabel {
    padding-top: 10px;
}

/*-----------------------Footer-----------------------*/

footer {
    color: #c6db39;
    background-color: black;
    min-height: 150px;
    text-align: center;
    margin: 0;
}

#footer-details {
    margin: 25px;
}

.social-links {
    padding: 15px 0;
}

.social-links li a i {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    color: #ef7540;
    background: black;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    background: white;
}

a:link {
    text-decoration: none;
}

footer h5 {
    font-weight: bold;
}

